<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'login.js' %}" defer></script>
    <style>
      .spacing{
        margin-top: 20px;
      }
    </style>
    <title>Document</title>
</head>
<body>
  <div class="card-reg">
    <h2 class="card-title">Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ form.username.label_tag }}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label>{{ form.password.label_tag }}</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <div class="spacing">
      <p>Nemate račun? <a href="{% url 'register' %}">Registracija</a></p>
    </div>
  </div>




      
      {% if form.errors %}
        <h3>Unos nije ispravan.</h3>
      {% endif %}
  
      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}

</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const usernameField = document.querySelector("#id_username");
    const passwordField = document.querySelector("#id_password");

    form.addEventListener("submit", function (event) {
        if (usernameField.value.trim() === "" || passwordField.value.trim() === "") {
            event.preventDefault();
            alert("Korisničko ime i lozinka ne mogu biti prazni.");
        }
    });
});
</script>
</html>