<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form method="GET" action="" class="search-form">
        <input type="text" name="q" placeholder="Search Category..." value="{{ request.GET.q }}" class="search-input">
        <button type="submit" class="btn search-btn">Search</button>
    </form>
    <a href="{% url 'category_create' %}" class="btn btn-primary">Dodaj kategoriju</a>

    <ul class="ul">
        {% for category in object_list %}
            <li>
                <div class="container">
                    <div class="card">
                        <h2 class="card-title">Naziv: {{ category.name }}</h2>
                        <p class="card-description"> Boja: {{ category.color }}</p>
                        <p class="card-description"> Vlasnik: {{ category.owner }}</p>
                        <a href="{% url 'category_detail' category.id %}" class="btn btn-primary">Detalji</a>
                        <a href="{% url 'category_delete' category.id %}" class="btn btn-danger">Izbriši</a>
                        <a href="{% url 'category_update' category.id %}" class="btn btn-warning">Ažuriraj</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>