<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}

    <form method="GET" action="" class="search-form">
        <input type="text" name="q" placeholder="Search Projects..." value="{{ request.GET.q }}" class="search-input">
        <button type="submit" class="btn search-btn">Search</button>
    </form>
    <a href="{% url 'project_create' %}" class="btn btn-primary">Dodaj project</a>

    <ul class="no-bullets">
        {% for project in object_list %}
            <li>
                <div class="container">
                    <div class="card">
                        <h2 class="card-title">Naziv: {{ project.name }}</h2>
                        <p class="card-description">Opis: {{ project.description }}</p>
                        <p class="card-description">Kreirano: {{ project.created_at }}</p>
                        <p class="card-description">Ažurirano: {{ project.updated_at }}</p>
                        <p class="card-description">Vlasnik: {{ project.owner }}</p>
                        <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">Detalji</a>
                        <a href="{% url 'project_delete' project.id %}" class="btn btn-danger">Izbriši</a>
                        <a href="{% url 'project_update' project.id %}" class="btn btn-warning">Ažuriraj</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>