<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminders</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form method="GET" action="" class="search-form">
        <input type="text" name="q" placeholder="Search Reminders..." value="{{ request.GET.q }}" class="search-input">
        <button type="submit" class="btn search-btn">Search</button>
    </form>
    <a href="{% url 'reminder_create' %}" class="btn btn-primary">Dodaj podsjetnik</a>

    <ul class="no-bullets">
        {% for reminder in object_list %}
            <li>
                <div class="container">
                    <div class="card">
                        <h2 class="card-title">Zadatak: {{ reminder.task }}</h2>
                        <p class="card-description">Vrijeme podsjetnika: {{ reminder.reminder_time }}</p>
                        <p class="card-description">Kreirano: {{ reminder.created_at }}</p>
                        <a href="{% url 'reminder_detail' reminder.id %}" class="btn btn-primary">Detalji</a>
                        <a href="{% url 'reminder_delete' reminder.id %}" class="btn btn-danger">Izbriši</a>
                        <a href="{% url 'reminder_update' reminder.id %}" class="btn btn-warning">Ažuriraj</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
