<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form method="GET" action="" class="search-form">
        <input type="text" name="q" placeholder="Search Tasks..." value="{{ request.GET.q }}" class="search-input">
        <button type="submit" class="btn search-btn">Search</button>
    </form>
    <a href="{% url 'task_create' %}" class="btn btn-primary">Dodaj zadatak</a>

    <ul class="no-bullets">
        {% for task in object_list %}
            <li>
                <div class="container">
                    <div class="card">
                        <h2 class="card-title">Naslov: {{ task.title }}</h2>
                        <p class="card-description">Opis: {{ task.description }}</p>
                        <p class="card-description">Kreirano: {{ task.created_at }}</p>
                        <p class="card-description">Ažurirano: {{ task.updated_at }}</p>
                        <p class="card-description">Rok: {{ task.due_date }}</p>
                        <p class="card-description">Prioritet: {{ task.priority }}</p>
                        <p class="card-description">Status: {{ task.status }}</p>
                        <p class="card-description">Projekt: {{ task.project }}</p>
                        <p class="card-description">Dodijeljeno: {{ task.assigned_to }}</p>
                        <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">Detalji</a>
                        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Izbriši</a>
                        <a href="{% url 'task_update' task.id %}" class="btn btn-warning">Ažuriraj</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
