<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Log</title>
</head>
<body>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search Time..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'timelog_create' %}">Dodaj vremenski zapis</a>

    <ul>
        {% for timelog in object_list %}
            <li>
                task: {{ timelog.task }}<br>
                start_time: {{ timelog.start_time}}<br>
                end_time: {{ timelog.end_time }}<br>
                notes: {{ timelog.notes}}<br>
                <a href="{% url 'timelog_detail' timelog.id %}">Detalji</a>
                <a href="{% url 'timelog_delete' timelog.id %}">Izbriši</a>
                <a href="{% url 'timelog_update' timelog.id %}">Ažuriraj</a>

            </li>
        {% endfor %}
    </ul>

</body>
</html>