<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji Time loga</title>
    <script>
        function confirmDelete() {
            return confirm("Jeste li sigurni da želite obrisati ovaj Time log?");
        }
    </script>
</head>
<body>
    <button id="open-sidebar-button" onclick="openSidebar()" aria-label="open sidebar" aria-expanded="false" aria-controls="nav">
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#c9c9c9"><path d="M165.13-254.62q-10.68 0-17.9-7.26-7.23-7.26-7.23-18t7.23-17.86q7.22-7.13 17.9-7.13h629.74q10.68 0 17.9 7.26 7.23 7.26 7.23 18t-7.23 17.87q-7.22 7.12-17.9 7.12H165.13Zm0-200.25q-10.68 0-17.9-7.27-7.23-7.26-7.23-17.99 0-10.74 7.23-17.87 7.22-7.13 17.9-7.13h629.74q10.68 0 17.9 7.27 7.23 7.26 7.23 17.99 0 10.74-7.23 17.87-7.22 7.13-17.9 7.13H165.13Zm0-200.26q-10.68 0-17.9-7.26-7.23-7.26-7.23-18t7.23-17.87q7.22-7.12 17.9-7.12h629.74q10.68 0 17.9 7.26 7.23 7.26 7.23 18t-7.23 17.86q-7.22 7.13-17.9 7.13H165.13Z"/></svg>
    </button>
    
    <nav id="navbar">
        <ul>
            <li>
                <button id="close-sidebar-button" onclick="closeSidebar()" aria-label="close sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#c9c9c9"><path d="m480-444.62-209.69 209.7q-7.23 7.23-17.5 7.42-10.27.19-17.89-7.42-7.61-7.62-7.61-17.7 0-10.07 7.61-17.69L444.62-480l-209.7-209.69q-7.23-7.23-7.42-17.5-.19-10.27 7.42-17.89 7.62-7.61 17.7-7.61 10.07 0 17.69 7.61L480-515.38l209.69-209.7q7.23-7.23 17.5-7.42 10.27-.19 17.89 7.42 7.61 7.62 7.61 17.7 0 10.07-7.61 17.69L515.38-480l209.7 209.69q7.23 7.23 7.42 17.5.19 10.27-7.42 17.89-7.62 7.61-17.7 7.61-10.07 0-17.69-7.61L480-444.62Z"/></svg>
                </button>
            </li>
            <li class="home-li"><a class="btn-home" aria-current="page" href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'project_list' %}" class="{% if request.path == '/project/' %}active-link{% endif %}">Projekti</a></li>
            <li><a href="{% url 'task_list' %}" class="{% if request.path == '/task/' %}active-link{% endif %}">Zadaci</a></li>
            <li><a href="{% url 'category_list' %}" class="{% if request.path == '/category/' %}active-link{% endif %}">Kategorije</a></li>
            <li><a href="{% url 'reminder_list' %}" class="{% if request.path == '/reminder/' %}active-link{% endif %}">Podsjetnici</a></li>
            <li><a href="{% url 'timelog_list' %}" class="{% if request.path == '/timelog/' %}active-link{% endif %}">Vremenski zapis</a></li>
            <li><a href="{% url 'login' %}" class="btn-login">Login</a></li>
        </ul>
    </nav>
    <div id="overlay" onclick="closeSidebar()" aria-hidden="true"></div>
    <div class="container">
        <div class="card">
            <h2 class="card-title"> Detalji Time loga</h2>
            <p class="card-description"> Zadatak: {{ timelog.task }}</p>
            <p class="card-description"> Početno vrijeme: {{ timelog.start_time }}</p>
            <p class="card-description"> Završno vrijeme: {{ timelog.end_time }}</p>
            <p class="card-description"> Bilješke: {{ timelog.notes }}</p>
            <a href="{% url 'timelog_update' timelog.id %}" class="btn btn-primary">Ažuriraj</a>
            <a href="{% url 'timelog_delete' timelog.id %}" class="btn btn-danger">Izbriši</a>
        </div>
    </div>
    <a href="{% url 'timelog_list' %}" class="btn btn-primary-back">Natrag na popis Time logova</a>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const openButton = document.getElementById('open-sidebar-button');
            const navbar = document.getElementById('nav');
            const media = window.matchMedia("(width < 750px)");
    
            media.addEventListener('change', updateNavbar);
    
            function updateNavbar(e){
                const isMobile = e.matches;
                if (isMobile) {
                    navbar.setAttribute('inert', '');
                } else {
                    navbar.removeAttribute('inert');
                }
            }
    
            function openSidebar(){
                navbar.classList.add('show');
                openButton.setAttribute('aria-expanded', 'true');
                navbar.removeAttribute('inert');
                setTimeout(() => {
                    navbar.removeAttribute('inert');
                }, 10);
            }
    
            function closeSidebar(){
                navbar.classList.remove('show');
                openButton.setAttribute('aria-expanded', 'false');
                navbar.setAttribute('inert', '');
            }
    
            updateNavbar(media);
    
            window.openSidebar = openSidebar;
            window.closeSidebar = closeSidebar;
    });
    
    </script>
</body>
</html>
