@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #5865F2;

  --text-color: #c9c9c9;
  --background--color: #11121a;

  --primary--btn--color: #5865F2;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth; 
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}
main{
  padding: min(1.5em, 7%);
}
main p{
  margin-top: .35em;
}
nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
}
nav ul{
  list-style: none;
  display: flex;
}
nav .home-li{
  margin-right: auto;
}
nav li{
  display: flex;
}
nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}
nav a:hover{
  background-color: var(--hover-color);
}
nav a.active-link{
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--hover-color);
}
nav a.accent-link{
  background-color: var(--accent-color);
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color); 
  color: #ffffff; 
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1; 
  pointer-events: auto; 
  outline: 3px solid #ffffff; 
}
@media screen and (max-width: 1000px) {
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
  }
  nav.show{
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
  nav a.active-link{
    border-bottom: none;
  }
  nav .home-li{
    margin-right: unset;
  }
  .search-input{
    width: 100%;
  }

}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 15px;
}



.pre-card-title {
    font-size: 1.5rem;
    color: #E4E6EB;
    margin-bottom: 10px;
    cursor:default;
    padding: 10px;
}

@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form-group {
    margin-bottom: 15px;
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
}

/* Dropdown stilizacija */
select.form-control {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

select.form-control:focus {
  border-color: #007bff;
  outline: none;
}

label {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

/* Stilizacija za manji dropdown */
.select-small {
  width: auto; /* Možete odabrati odgovarajuću širinu za dropdown */
  max-width: 350px; /* Ograničava širinu */
  padding: 0.5rem 1rem;
}

.select-medium{
  width: 100%;
  max-width: 500px;
  padding: 0.5rem 1rem;
  height: 150%;
  max-height: 300px;
}


input[type="text"] {
  background-color: #004C99; /* Svijetla siva pozadina */
  color: white ;
  border-color: #001933 ;
}
#id_owner {
  background-color: #004C99; /* Zamijenite s istom bojom */
  color: white ;
  border-color: #001933 ;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #6C757D;
    background-color: #323544;
    color: #E4E6EB;
}

.password-rules {
    margin-top: 20px;
    padding: 15px;
    background: #323544;
    border-radius: 10px;
    text-align: left;
}

.password-list {
    padding-left: 20px;
}

.password-list li {
    margin-bottom: 8px;
    color: #E4E6EB;
}


.card-reg {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #40445A;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.card {
    background: #40445A;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin: 15px;
}

.card:hover {
    transform: scale(1.01);
}

.card-title {
    font-size: 1.5rem;
    color: #E4E6EB;
    margin-bottom: 10px;
}

.card-description {
    color: #B0B3C3;
}

.sticky  {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);  
    -webkit-backdrop-filter: blur(5px); 
    background: linear-gradient(to bottom, #11121a, rgba(0, 0, 0, 0.100));
}

/* Stilizacija za color picker */
input[type="color"] {
  width: 200px;
  height: 50px;
  padding: 0;
  border: transparent;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}

input[type="color"]:focus {
  outline: none;
}
/* Stilizacija dugmadi unutar forme */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:focus {
  outline: none;
}

/* Buttons */
.btn {
    display:inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btn-primary {
    background: #5865F2;
}

.btn-primary-add {
    background: #5865F2;
    width: auto;
    margin: 20px;
    float: right; 
    bottom: 20px;
    position: fixed;
    right: 20px;
    padding: 10px 20px;
}

.btn-float {
    width: auto;
    margin: 20px;
    float: center; 
    bottom: 20px;
    right: 20px;
    padding: 10px 20px; 
}

.btn-primary-back {
    background: #5865F2;
    width: auto;
    margin: 15px;
    position: sticky;
    padding: 10px 20px; 
}

.btn-primary:hover {
    background: #4752C4;
}

.btn-warning {
    background: #E4A11B;
    color: black;
}

.btn-warning:hover {
    background: #C28817;
}

.btn-danger {
    background: #D83A56;
}

.btn-danger:hover {
    background: #B72E46;
}
.btn-home{
  background: var(--accent-color);
}
.btn-login{
  background: var(--accent-color);
}
/* Search input */
.search{
  padding: 5px;
}
.search-form {
    margin-bottom: 15px;
    right: 20px;
    width: 90%;          /* adjusts to viewport width */
    max-width: 600px;    /* limits the width on larger screens */
    margin: 15px;
}

.search-input {
    padding: 10px;
    width: 100%;
    height: 100%;
    max-height: 50px;
    min-height: 50px;
    max-width: 250px;
    border: 1px solid #6C757D;
    border-radius: 5px;
    background-color: #323544;
    color: #E4E6EB;
}

.search-btn {
    background: #5865F2;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-height: 50px;
    min-height: 50px;
    max-width: 100px;
    min-width: 50px;

}

.search-btn:hover {
    background: #4752C4;
}

ul {
    list-style-type: none;
    padding: 0;
}